################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SiteApi/.vs/SiteApi/v14/.suo
/SiteApi/SiteApi/bin/Debug/netcoreapp1.1
/SiteApi/.vs/SiteApi/v15/.suo
/SiteApi/SiteApi/obj
