<!--The content below is only a placeholder and can be replaced.-->

<div class="padding">
  <div class="container">
    <div class="row">
<!--header-->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main"> 
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href=""><img src="/assets/images/w3newbie.png">
              </a>
            </div>
            <div class="collpse navbar-collapse"  id="navbar-collapse-main">
              <ul class="nav  navbar-nav navbar-right">
                <li ><a class="active" href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Contact</a></li>
                <li><a  routerLink="/login">Login here</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <!--body-->
        <router-outlet></router-outlet>
        <!--body-->
       
    </div>
  </div>
</div>


 <!--footer-->
        <footer class="containger-fluid text">
          <div class="row">
            <div class="col-sm-4">
              <h4>Contact Us</h4>
              <br>
              <h4>Our address and contact info here</h4>
            </div>
            <div class="col-sm-4">
              <h4>Connect</h4>
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-google"></a>
              <a href="#" class="fa fa-linkein"></a>
              <a href="#" class="fa fa-twitter"></a>

            </div>
            <div class="col-sm-4">
              <img src="/assets/images/b.png" class="icon">
            </div>
          </div>
        </footer>